<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <title>
      gurters - {{title}}
    </title>
  </head>
  <body>
      {{{yield}}}
  </body>
</html>
